{{ define "main" }}
    <main aria-role="main">
        <div>
            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}

            <!--<h1 style="color: currentColor">{{ .Site.Title }}</h1>-->
            <h1 class="text-gradient-drac-cyan-green">Pretty Much (It) Ranked</h1>
            {{- with .Site.Params.homeSubtitle }}
                  <!-- {{ . }} -->
                  {{ $subtitle_parts := split . " of " }}
                  <p>{{ index $subtitle_parts 0 }} of <a href="https://prettymuch.it/"><font class="text-gradient-drac-pink-purple">{{ index $subtitle_parts 1}}</font></a><p>
            {{- end }}

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
    </main>
{{ end }}
